<ion-header>
  <ion-toolbar style="--background: #2C7744;  /* fallback for old browsers */
  --background: -webkit-linear-gradient(to right, #2C7744, #2C7744);  /* Chrome 10-25, Safari 5.1-6 */
  --background: linear-gradient(to right, #2C7744, #0b44037c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  ">
    <div style="display: flex;justify-content: space-between;padding-left: 10px;padding: 5px;">
      <div style="display: flex;padding-top: 2px;">
        <img style="object-fit: contain;height: 3em;background: white;border-radius: 46%;"
          src="../../../assets/checklogo.png" alt="">

      </div>
      <ion-searchbar color="light" style="width: 100%;position: relative;top: 0.4em;" mode='ios'></ion-searchbar>
      <ion-icon color="light" style="font-size: 26px;position: relative;top: 0.4em;" (click)="presentActionSheet()"
        name="ellipsis-vertical-outline"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: linear-gradient(to right, #12811010 0%, #189c160c 100%);">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles" refreshingText="Refreshing..."> </ion-refresher-content>
  </ion-refresher>

  <div id="slide">

    <div style="padding-left:20px;padding: 4px;" *ngIf="posts">
      <ion-card *ngFor="let item of posts" style="--background: white;border-radius: 20px;">

        <ion-item style="padding: 0 !important" lines="none">
          <ion-avatar (click)="openProfileModal(item.uploadedBy)" slot="start">
            <img src={{item.uploaderImage}}>
          </ion-avatar>
          <ion-label (click)="openProfileModal(item.uploadedBy)" class="label text">
            <h3> <b>{{item.uploaderName}}</b> uploaded an image</h3>
            <div style="display: flex;">
              <p style="font-size: 0.8rem;">{{timeCalc(item.timestamp)}}</p>
              <p *ngIf="item.edited && item.edited== true" style="font-size: 0.8rem;margin-left: 1em;"><u>
                  edited
                </u></p>
            </div>
          </ion-label>

          <ion-icon *ngIf="currentUserID == item.uploadedBy" (click)="editPost(item.docID)" name="ellipsis-vertical">
          </ion-icon>

        </ion-item>

        <ion-item *ngIf="item.imageCaption" style=" --padding-top: 0px;
        ">
          <p style="font-family: 'Padauk', sans-serif;">{{item.imageCaption}}</p>
        </ion-item>

        <div style=" text-align: center;">
          <img (click)="openFullpageimage(item.imageURL)"
            style="  object-fit: cover;min-width: 380px;max-width: 385px;height: 400px;" src="{{item.imageURL}}" alt="">

        </div>
        <ion-grid style="margin:0px;" class="colButt">
          <ion-row style="text-align:center;margin:0px;">
            <ion-col>
              <div>
                <ion-icon *ngIf="!item.liked" name="heart-outline" style="height:23px;width:23px;"
                  (click)="addLike(item)">
                </ion-icon>
                <ion-icon *ngIf="item.liked" name="heart" color="danger" style="height:23px;width:23px;"></ion-icon>
                <span style="color:white" *ngIf="item.likedBy"
                  style="color:rgba(0, 0, 0, 0.774);">{{item.likedBy.length}}</span>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-icon name="chatbubble-outline" style="height:23px;width:23px;" (click)="comments(item.docID)">
                </ion-icon>
                <span *ngIf="item.comments" style="color:white"
                  style="color:rgba(0, 0, 0, 0.774);">{{item.comments.length}}</span>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-icon name="share-social-outline" style="height:23px;width:23px;" (click)="share(item)">
                </ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card>
    </div>

  </div>

  <div id="slide" *ngIf="!posts">
    <div style="padding:8px; font-family: 'Asap Condensed', 'sans-serif;'">

      <div>
        <ion-label class="noshow">OOOPSS! Nothing to show at the moment
        </ion-label>
      </div>
    </div>
  </div>
</ion-content>