<ion-header>
    <ion-toolbar>

        <div class="iconSize"
            style="display: flex;justify-content: space-between;font-family: 'Roboto', sans-serif;padding: 15px;">
            <ion-icon name="notifications-outline" slot="start"></ion-icon>
            <ion-label style="font-weight:bold;color: rgb(19, 19, 19);" slot="start">Notifications</ion-label>
            <ion-icon name="mail-open-outline"></ion-icon>
        </div>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="font-family: 'Padauk', sans-serif;" *ngIf="notification">
        <ion-list *ngFor="let item of notification">
            <ion-item>
                <ion-avatar slot="start">
                    <img *ngIf="item.senderImage" src="{{item.senderImage}}">
                    <img *ngIf="!item.senderImage" src="../../../assets/man.png">
                </ion-avatar>
                <ion-label class="label text">
                    <h3>{{item.message}}</h3>
                    <p style="font-size: 0.8rem;">{{timeCalc(item.sentAt)}}</p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>


</ion-content>