<ion-header>
    <ion-toolbar style="--background: #2C7744;  /* fallback for old browsers */
    --background: -webkit-linear-gradient(to right, #2C7744, #2C7744);  /* Chrome 10-25, Safari 5.1-6 */
    --background: linear-gradient(to right, #2C7744, #0b44037c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ">

        <div class="iconSize"
            style="display: flex;justify-content: space-between;font-family: 'Roboto', sans-serif;padding: 15px;">
            <ion-icon name="notifications-outline" slot="start"></ion-icon>
            <ion-label style="font-weight:bold;color: white" slot="start">Notifications</ion-label>
            <ion-icon name="alert-outline"></ion-icon>
        </div>

    </ion-toolbar>
</ion-header>

<ion-content style="--background: linear-gradient(to right, #12811010 0%, #189c160c 100%);">
    <div style="font-family: 'Padauk', sans-serif;padding-left: 10px;padding-right: 10px;" *ngIf="notification">

        <ion-list style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);margin-top: 0.5em;
        transition: 0.3s;" *ngFor="let item of notification">
            <ion-item>
                <ion-avatar slot="start">
                    <img *ngIf="item.senderImage" src="{{item.senderImage}}">
                    <img *ngIf="!item.senderImage" src="../../../assets/man.png">
                </ion-avatar>
                <ion-label class="label text">
                    <h3>{{item.message}}</h3>
                    <p style="font-size: 0.8rem;">{{timeCalc(item.sentAt)}}</p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>


</ion-content>