<ion-header>
  <ion-toolbar>

    <div class="iconSize" style="display: flex;justify-content: space-between;font-family: 'Roboto', sans-serif;padding: 15px;
          font-size: 24px;">
      <ion-icon name="images-outline" slot ="start"></ion-icon>
      <ion-label style="font-weight:bold;color: rgb(19, 19, 19);" slot="start">Collections</ion-label>
      <ion-icon name="funnel-outline"></ion-icon>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="imagesData">
    <div *ngFor="let item of imagesData">
      <ion-item>
        <ion-label class="greenColor">{{item.uploadedat}}</ion-label>
      </ion-item>
      <div class="caard-container">
        <div *ngFor="let it of item.images" class="caard">
          <img (click)="openFullpageimage(it.imageURL)" class="imeg" src="{{it.imageURL}}" alt="">
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!imagesData">
    <div style="padding:8px; font-family: 'Asap Condensed', 'sans-serif;'">
      <div style="font-size: 2em;" class="noshow">OOOPSS! Nothing to show at the moment TRY UPLOADING
      </div>
    </div>

  </div>
</ion-content>