<ion-header>
  <ion-toolbar>

    <div class="iconSize" style="display: flex;justify-content: space-between;font-family: 'Roboto', sans-serif;padding: 15px;
          font-size: 24px;">
      <ion-icon (click)="getuser()" name="map-outline" slot="start"></ion-icon>
      <ion-label style="font-weight:bold;color: rgb(19, 19, 19);" slot="start">Maps</ion-label>
      <ion-icon (click)="presentActionSheet()" name="ellipsis-vertical-outlinee"></ion-icon>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content data-no-turbolink>

  <div id="map"></div>
  <ion-button (click)="getuser()" style="z-index: 1;position: absolute;bottom: 14px;right: 12px;" shape='round'
    color="light">
    <ion-icon name="location-outline"></ion-icon>
  </ion-button>
</ion-content>