<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed" layout="icon-top">
      <ion-icon style="font-size: 2.2em;" name="apps"></ion-icon>

    </ion-tab-button>

    <ion-tab-button tab="menu" layout="icon-top">

      <ion-icon style="font-size: 2.2em;" name="location"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="gallery" layout="icon-top">
      <ion-icon style="font-size: 2.2em;" name="image"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="capture()" layout="icon-top">
      <ion-icon style="font-size: 2.2em;" name="camera"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notifications" layout="icon-top">
      <ion-icon style="font-size: 2.2em;" name="notifications"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" layout="icon-top">
      <ion-icon style="font-size: 2.2em;" name="reorder-four"></ion-icon>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>