<ion-header style="background: white;" *ngIf="!fullpageImage">
  <ion-toolbar>
    <div *ngIf="currentDiv=='profile' && userData && !fullpageImage"
      style="display: flex;justify-content: space-between;font-family: 'Roboto', sans-serif;padding: 15px;font-size:19px;">
      <ion-icon color="danger" name="close-circle" slot="start" (click)="closePage()"></ion-icon>
      <ion-label style="font-weight:bold;color: rgb(19, 19, 19);" slot="start">User Profile</ion-label>
      <ion-icon *ngIf="currentuserID != UserID && !foollow" name="person-add" (click)="follow()"></ion-icon>
      <ion-icon color="success" *ngIf="currentuserID != UserID && foollow" name="people"></ion-icon>
      <ion-icon *ngIf="currentuserID == UserID"></ion-icon>

    </div>

    <div *ngIf="currentDiv=='gallery' && userData && !fullpageImage" class="top">
      <ion-title *ngIf="galleryLabel=='PRIVATE'">{{galleryLabel}} IMAGES</ion-title>
      <ion-title *ngIf="galleryLabel=='PUBLIC'">{{galleryLabel}} IMAGES</ion-title>
      <ion-button (click)="switchViews('profile','none')" fill='clear' color="danger">
        CLOSE
      </ion-button>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content style="font-family: 'Poppins';">

  <div *ngIf="currentDiv=='profile' && userData" style="background: white;min-height: 100%;">
    <div style="height:18em;background: green;width: 100%;position: relative;z-index: 1;top: -1em;">
      <ion-card style="background: white;position: relative;top: 6em;min-height: 14em;">

        <div
          style="position: relative;top: 2em;display: flex;justify-content: center;align-items: center;text-align: center;">

          <img (click)="openFullpageimage(userData.ProfileImage)"
            style=" box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);border: 2px solid rgba(0, 128, 0, 0.849);border-radius: 50%;max-height: 8em;object-fit: contain;"
            *ngIf="userData.ProfileImage" src="{{userData.ProfileImage}}" alt="">

          <div *ngIf="UserID == currentuserID" style="background-color: white;padding: 5px;border-radius: 50%; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            position: relative;position: relative;top: 2.3em;left: -1.4em;">
            <ion-icon (click)="ChoosePhotoOption('profile')"
              style="position: relative;font-size: 26px;position: relative;color: green;" name="camera"></ion-icon>
          </div>
        </div>

        <ion-title style="text-align: center;color: black;margin-top: 2em;">{{userData.Name}}</ion-title>
        <div style="text-align: center;">
          <ion-label style="color: green;margin-top: 2em;">{{userData.Adress}}</ion-label>




        </div>
        <div style="display: flex;justify-content: center;align-items: center;text-align: center;">
          <ion-card style="border: 1px solid green;border-radius: 25px;height: 4em;width: 7em;">
            <ion-label *ngIf="temp1" style="font-size: 16px;color: black;position: relative;top: 5px;"
              class="profile-stat-count">{{temp1}}

            </ion-label>
            <ion-label *ngIf="!temp1" style="font-size: 16px;color: black;position: relative;top: 5px;"
              class="profile-stat-count">0</ion-label>

            <br>
            Posts
          </ion-card>

          <ion-card style="border: 1px solid green;border-radius: 25px;height: 4em;width: 7em;">
            <ion-label *ngIf="temp2" style="font-size: 16px;color: black;position: relative;top: 5px;"
              class="profile-stat-count">{{temp2}}

            </ion-label>
            <ion-label *ngIf="!temp2" style="font-size: 16px;color: black;position: relative;top: 5px;"
              class="profile-stat-count">0</ion-label>
            <br>
            followers

          </ion-card>

          <ion-card style="border: 1px solid green;border-radius: 25px;height: 4em;width: 7em;">
            <ion-label *ngIf="temp3" style="font-size: 16px;color: black;position: relative;top: 5px;"
              class="profile-stat-count">{{temp3}}
            </ion-label>
            <ion-label *ngIf="!temp3" style="font-size: 16px;color: black;position: relative;top: 5px;"
              class="profile-stat-count">0</ion-label>
            <br>
            Followings
          </ion-card>

        </div>

      </ion-card>

    </div>


    <div style="position: relative;top: 4em;">
      <div style="padding: 5px;">
        <div style="display: flex;justify-content: space-between;">
          <ion-label style="font-weight: bold;color: black;font-size: 26px;margin-left: 4px;">PUBLIC IMAGES</ion-label>
          <ion-button style="color: rgba(128, 128, 128, 0.842);" (click)="switchViews('gallery','public')" fill='clear' color="none">VIEW
            ALL</ion-button>
        </div>


        <div *ngIf="publicdisplayImages && publicdisplayImages.images" class="caard-container">
          <div *ngFor="let item of publicdisplayImages.images" class="caard">
            <img class="imeg" src="{{item.imageURL}}">
          </div>
        </div>


        <div *ngIf="!publicdisplayImages" class="imgcontainer">

          <ion-label style="text-align: center;color: gray;">NO IMAGES TO SHOW</ion-label>
        </div>
        <ion-button *ngIf="currentuserID == UserID" expand='block' color="warning" (click)="capture('public')">
          UPLOAD</ion-button>
      </div>

      <div *ngIf="this.currentuserID == UserID" style="position: relative;padding: 5px;">
        <div style="display: flex;justify-content: space-between;">
          <ion-label style="font-weight: bold;color: black;font-size: 26px;margin-left: 4px;">PRIVATE IMAGES</ion-label>
          <ion-button style="color: rgba(128, 128, 128, 0.842);" (click)="switchViews('gallery','private')" fill='clear' color="none">
            VIEW ALL</ion-button>
        </div>
        <div *ngIf="privateImages" class="caard-container">

          <div *ngFor="let item of privateImages" class="caard">
            <img class="imeg" src="{{item.imageURL}}">
          </div>


        </div>
        <div *ngIf="!privateImages" class="imgcontainer">

          <ion-label style="font-size: 1em;color: gray;text-align: center;">NO IMAGES TO SHOW</ion-label>
        </div>

        <ion-button *ngIf="currentuserID == UserID" expand='block' color="warning"
          (click)="ChoosePhotoOption('private')">
          UPLOAD</ion-button>
      </div>
    </div>
  </div>


  <div *ngIf="currentDiv=='gallery' && galleryLabel=='PUBLIC'">
    <div *ngIf="imagesData">
      <div *ngFor="let item of imagesData">
        <ion-item>
          <ion-label class="greenColor">{{item.uploadedat}}</ion-label>
        </ion-item>
        <!-- <div style="display: flex;flex-wrap: wrap;">
          <div *ngFor="let it of item.images" style="border-radius: 25px;height: 5em;object-fit: contain;">
            <img (click)="openFullpageimage(it.imageURL)" class="image" src="{{it.imageURL}}" alt="">
          </div> 
        </div>-->

        <div style="  width: auto;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        padding: 0px;">
          <div style="border-radius: 16px;
          box-shadow: -1rem 0 3rem transparent;
          display: flex;
          flex-direction: column;
          padding: 4px;
          transition: 0.2s;width: 50%;" *ngFor="let it of item.images">
            <img (click)="openFullpageimage(it.imageURL)" class="imeg" src="{{it.imageURL}}" alt="">
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="!imagesData">
      <div style="padding:8px; font-family: 'Asap Condensed', 'sans-serif;'">
        <div style="font-size: 2em;" class="noshow">OOOPSS! Nothing to show at the moment TRY UPLOADING
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="currentDiv=='gallery' && galleryLabel=='PRIVATE'">
    <section *ngIf="privateImages" id="photos">
      <img style="border-radius: 20px;" *ngFor="let item of privateImages" src="{{item.imageURL}}" alt="" srcset="">

    </section>
  </div>



</ion-content>